{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}
{% block content %}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<style>
    .BoxShadow{box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;}
</style>

<div style="width: 100%;display:flex;justify-content: center;align-items: center;padding: 20px;">
    {% if products %}

    <div style="display: flex;flex-wrap: wrap;gap: 20px;justify-content: center;align-items: center;">
        {% for product in products %}

        <div style="width: 350px;border-radius: 20px;padding: 10px;background-color: #f2efef;height: 450px;" class="BoxShadow">
            
            <div style="height:200px;width: 100%; background-color: bisque;border-radius: 20px;margin-bottom: 10px;position: relative;">
                <div style="position: absolute; top: 5px;right: 10px; padding-left: 10px;padding-right: 10px;padding-top: 5px;padding-bottom: 5px;background-color: #14bd05;border-radius: 20px;font-size: 14px;font-weight: 700;color: white;">
                    Available
                </div>
                <img src="{{ product.image.url }}" style="height: 100%;width: 100%;object-fit: cover; border-radius: 20px;" alt="{{ product.image.url }}">
            </div>
            <div style="margin-bottom: 10px; font-weight: 800;">
                {{ product.name }}
            </div>
            <div>
                <div>
                    <div style="display: flex; justify-content: space-between;">
                        <div style="margin-bottom: 10px;font-size: 14px;font-weight: 500;">Brand: {{ product.brand_name }}</div>
                       <div>
                        <div style="margin-bottom: 10px;font-size: 14px;font-weight: 500;">Model: {{ product.model_name }}</div>
                       </div>
                    </div>
                </div>
                <div style="margin-bottom: 10px;font-size: 14px;font-weight: 500;">{{ product.description }}</div>
                <div style="display: flex; justify-content:space-between;align-items: center;">
                    <div style="display: flex;justify-content: center;align-items: center;gap: 10px;background-color: #4FCE5D;color: #4FCE5D;color: #fff;padding-left: 20px;padding-right: 20px;padding-top: 5px;padding-bottom: 5px;border-radius: 10px;">
                        <a href="https://wa.me/8129139506?text=Hi, I'm interested in {{ product.name }}.%0A
                         *Product Name*: *{{ product.name }}*
                         Description: {{ product.description }}
                         Price: ₹{{ product.price }}" style="display: flex;justify-content: center;align-items: center;gap: 10px;" target="_blank"><i class="fa-brands fa-whatsapp"></i><span>Whatsapp</span></a>
                    </div>
                    <div style="display: flex;justify-content: center;align-items: center;gap: 10px;background-color: #0055ff;color: #ffffff;color: #fff;padding-left: 20px;padding-right: 20px;padding-top: 5px;padding-bottom: 5px;border-radius: 10px;">
                        <span>Price</span>
                        <div>
                            <i class="fa-solid fa-indian-rupee-sign"></i> {{ product.price }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}

    </div>
    {% endif %}

</div>


{% endblock %}
