{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IZONE IT STORE</title>
    <link rel="shortcut icon" href="{% static 'images/fevicon.png' %}" type="image/x-icon">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss@2.0.0/dist/tailwind.min.css">
</head>
<body class="bg-gray-100 flex flex-col items-center justify-start h-screen pt-6">
    <!-- Back to Product Page Button -->
    <div class="w-full mb-6">
        <a href="{% url 'product_details' %}" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded shadow ml-4">
            Close
        </a>
    </div>

    <div class="product-image-view">
        <div class="image-container">
            <img src="{{ product.image.url }}" alt="{{ product.name }}" class="w-full h-96 object-contain">
        </div>
        
        <div class="product-info mt-4">
            <h1 class="text-2xl font-bold">{{ product.name }}</h1>
            <!-- <p class="text-gray-700">{{ product.model }}</p>
            <p class="text-gray-700">{{product.brand}}</p>
            <p class="text-gray-700 text-align: justify;">{{ product.description }}</p> -->
        </div>

        <div class="navigation mt-6">
            {% if previous_product %}
            <a href="{% url 'product_image_view' previous_product.id %}" class="bg-blue-500 text-white py-2 px-4 rounded shadow">
                Previous
            </a>
            {% endif %}
            {% if next_product %}
            <a href="{% url 'product_image_view' next_product.id %}" class="bg-green-500 text-white py-2 px-4 rounded shadow">
                Next
            </a>
            {% endif %}
        </div>
    </div>

    <style>
        body {
            background-color: #f5f5f5;
        }
    </style>
</body>
</html>
